---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"

let gameRunning : boolean = false;
let score : number = 0


---

<Layout title="Moo Jump">
    <div class="game-parent">
        <div class="game-area">

        </div>
    </div>
</Layout>

<style>
    .game-parent {
        margin-top: 3em;
        display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
    }

    .game-area {
        width: 800px;
        height: 600px;
        border: dashed;
        background-color: skyblue;
    }
</style>