h1:focus {
    outline: none;
}

body {
    background: #121212;
    color: #b0c4e5;
    min-height: 1000px;
}

main {
    margin-top: 50px;
    padding: 10px;
}

.card {
    width: 100%;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    color: rgb(210, 211, 224);
    text-decoration: none;
}

    .card:hover {
        transform: scale(1.1);
    }

    .card img {
        width: 100%;
        height: auto;
        transition: filter 0.3s; /* Smooth transition for blur effect */
    }

    .card .content {
        padding: 5px;
        transition: filter 0.3s; /* Smooth transition for blur effect */
        position: relative;
    }

    .card .card-hover-text {
        display: flex; /* Make the hover text a flex container */
        align-items: center; /* Center align items vertically */
        justify-content: center; /* Center align items horizontally */
        font-size: 14px;
        color: #ffffff;
        position: absolute;
        left: 0; /* Align to the left edge */
        top: 0; /* Align to the top edge */
        width: 100%; /* Match the width of the card */
        height: 100%; /* Match the height of the card */
        background: rgba(40, 40, 40, 0.8); /* Semi-transparent background */
        backdrop-filter: blur(5px); /* Apply background blur */
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.4s ease; /* Fade-in transition */
        z-index: 2; /* Ensure hover text appears above blurred content */
    }

    .card:hover .content, .card:hover img {
        filter: blur(5px);
    }

    .card:hover .card-hover-text {
        bottom: 50%;
        opacity: 1;
    }

.summary-about {
    position: relative;
    z-index: 2;
    padding: 2%;
    margin: 0 auto; /* This centers the element horizontally */
    margin-bottom: 0;
    opacity: 0;
    animation: slide-in 1s ease-out forwards;
    width: 80%; /* Set a responsive width, adjust as necessary */
    max-width: 100%; /* Ensure it doesn't overflow beyond the screen */
}


@keyframes slide-in {
    from {
        transform: translateY(50%);
        opacity: 0.1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.name-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    width: 80%;
    margin-inline: auto;
    background: #1f2631;
    margin-top: 5%;
}

.name {
    text-align: center;
}

.line {
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.about {
    color: rgb(210, 211, 224);
    text-align: center;
    font-size: 120%;
    padding-left: 10%;
    padding-right: 10%;
}

.my-image {
    margin-top: 20px;
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    
}

.my-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition */
}

.my-image:hover img {
    transform: scale(1.2); /* Scale up the image */
}

.CV {
    margin-top: 5%;
}

.CV-button {
    display: inline-block; /* Make the anchor behave like a block element */
    text-align: center; /* Center-align the text */
    text-decoration: none; /* Remove the underline from the link */
    padding-bottom: 10%;
}

.contact-icon {
    height: auto; /* Keep the aspect ratio */
}

.cv-text {
    display: block; /* Make it a block element */
    margin-top: 5px; /* Space between the image and the text */
    font-size: 14px; /* Set the font size */
    color: rgb(210, 211, 224);
}

.section {
    position: relative;
    z-index: 2;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-bottom: 1%;
    background: #282828;
}

.section-heading {
    text-align: center;
}

.section-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #b0c4e5;
    transition: transform 0.3s;
}

.section-button:hover {
    transform: scale(1.2);
}

.last-section {
    margin-bottom: 20%;
}

.section-list {
    /* color: rgb(210, 211, 224);
    font-size: 150%; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-sized columns */
    gap: 10%;
    grid-auto-flow: row;
    margin-top: 5%;
    margin-bottom: 10%;
}

.list-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: rgb(210, 211, 224);
    transition: transform 0.3s;
}

.list-button:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {

    .section {
        display: flex;
        flex-direction: column;
    }

    .section-list {
        display: flex;
        flex-direction: column;
        justify-items: center; /* Center items horizontally */
    }

    .text-contacts {
        display: flex;
        flex-direction: column;
        justify-items: center; /* Center items horizontally */
    }
}