---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<Section id="about">
		<div class="home">
			<div class="my-image">
				<img src="images/My.webp" alt="Akshat Singh" />
			</div>
			<div class="name">
				<h1>Hi!<br>I'm Akshat</h1>
			</div>
			<div class="line">
				-------------------------------
			</div>

			<div class="about">
				<p>
					I am a final year BS-MS(Dual Degree) student at the
					Indian Institue of Science Education and Research(IISER) Bhopal,
					in the department of Electrical Engineering and
					Computer Science (EECS).<br>
					My Masters thesis focuses on Swarm Robotics and Virtual/Mixed
					Reality, exploring the interaction between humans and robots
					under the guidance of Prof. Sujit PB in the MOON lab at IISER Bhopal.
				</p>
				<p>
					Beyond academics, I am passionate about new technologies and
					strive to learn about any new piece of technology I encounter.<br>
					I enjoy anime, movies, and video games, with a passion for
					speedrunning, where I hold world records in a few games.
					I also like reading and traveling, which broaden my perspectives.<br>
					In my free time, I work on small coding projects to
					enhance my skills.
				</p>
			</div>
			<div class="CV">
				<a href="/Documents/My_CV.pdf" class="CV-button" target="_blank">
					<img src="/images/CV.png" alt="CURRICULUM VITAE" class="contact-icon">
					<span class="cv-text">CURRICULUM VITAE</span>
				</a>
				<a href="https://orcid.org/0009-0002-7938-7529" class="CV-button" target="_blank">
					<img src="/images/ORCID_iD.svg" alt="ORCID" class="contact-icon">
					<span class="cv-text">ORCID</span>
				</a>
			</div>
		</div>
	</Section>
</Layout>

<style>
	.home {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}

	.name-about {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20%;
		width: 80%;
		margin-inline: auto;
		background: #1f2631;
		margin-top: 5%;
	}

	.name {
		text-align: center;
	}

	.line {
		text-align: center;
		color: white;
		margin-bottom: 5%;
	}

	.about {
		color: rgb(210, 211, 224);
		text-align: center;
		font-size: 120%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.my-image {
		margin-top: 20px;
		width: 30%; /* Adjust the width and height as needed */
		height: auto;
		border-radius: 50%;
		overflow: hidden;
		
	}

	.my-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s ease; /* Smooth transition */
	}

	.my-image:hover img {
		transform: scale(1.2); /* Scale up the image */
	}

	.CV {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;
		margin: auto 30%;
		margin-top: 5%;
	}

	.CV-button {
		display: inline-block; /* Make the anchor behave like a block element */
		text-align: center; /* Center-align the text */
		text-decoration: none; /* Remove the underline from the link */
		padding-bottom: 10%;
	}

	.contact-icon {
		width: auto;
		height: 60px; /* Keep the aspect ratio */
	}

	.cv-text {
		display: block; /* Make it a block element */
		margin-top: 5px; /* Space between the image and the text */
		font-size: 14px; /* Set the font size */
		color: rgb(210, 211, 224);
	}
</style>
