.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-row {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    .projects-row {
        flex-direction: column;
    }
}