.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    padding: 10px 10px 50px 10px;
    margin: 10px 10px 10px 10px;
}

#gallery-welcome {
    padding: 10px 10px 30px 10px;
    margin: 10px 10px 10px 10px;
}

.leaflet-container {
    height: 60vh;
    width: 120vh;
}

@media (max-width: 768px) {
    .leaflet-container {
        height: 60vh;
        width: 40vh;
    }
}