.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-container {
    height: 60vh;
    width: 120vh;
}

@media (max-width: 768px) {
    .leaflet-container {
        height: 60vh;
        width: 40vh;
    }
}