.carousel {
  width: 100%;
  position: relative;
}

.carousel-container {
    position: relative;
    padding: 0.25rem 0;
}

.keen-slider {
    padding: 0.5rem 2.5rem;
}

.keen-slider__slide {
  width: auto !important;
  display: flex;
  justify-content: center;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.65);
  color: white;
  cursor: pointer;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.scroll-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.carousel-pagination {
  text-align: center;
  margin-top: 12px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
}

.dot.active {
  background: #ddd;
}

@media (max-width: 768px) {
  .scroll-button {
    display: none;
  }

  .keen-slider {
    padding: 0;
  }
}