.header-title {
    padding: 10px 10px 30px 10px;
    margin: 10px 10px 10px 10px;
}

.header-title a {
    color: inherit;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-title {
        
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 10px 0px;
    }
    
}