.section {
  min-height: calc(65vh - 140px);
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  background: rgba(26, 26, 26, 0.5);
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  scroll-margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section img {
  max-width: 100%;
  height: auto;
   display: inline-block; /* So it's centered via text-align */
  align-items: center;
  margin: 1rem 0;
}

 @media (max-width: 768px) {
    .section {
      width: 100%;
      padding: 5%;
    }
 }